<div class="flex">
  <div *ngFor="let joueur of joueurs">
    <div class="joueur" *ngIf="joueur.ok">
      <p>{{joueur.nom}}</p>
      <p>{{joueur.score}}</p>
    </div>
    <div class="joueur" *ngIf="!joueur.ok">
      <input type="text" [(ngModel)]="nomJoueurTemp" /><br />
      <button (click)="joueur.nom = nomJoueurTemp;joueur.ok = true;nomJoueurTemp=''"
        style="width:100%;margin-top:10px;">Valider</button>
    </div>
  </div>
  <button (click)="addPlayer()" style="margin-top:20px;margin-left:20px;">Ajouter un joueur</button>
</div>