* {
    color: white;
    border-radius: 20px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

button {
    background: black;
    padding: 10px;
    height: fit-content;
}

body {
    background-color: #303030;
}

.flex {
    display: flex;
}

input {
    background-color: black;
    text-align: center;
}

.joueur {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 5px 2px;
}

.joueur:hover {
    opacity: 0.6;
    cursor: pointer;
}

p {
    margin: 0px;
}

.selected p {
    color: red;
}

.letter {
    margin-right: 5px;
}

.current p {
    color: white !important;
    font-weight: bold;
}

.defs p {
    color: #aaa;
}

.first {
    color: yellow !important;
    border-color: yellow !important;
    font-weight: bold;
}

.second {
    color: rgb(243, 243, 243) !important;
    border-color: rgb(243, 243, 243) !important;
    font-weight: bold;
}

.third {
    color: rgb(163, 88, 44) !important;
    border-color: rgb(163, 88, 44) !important;
    font-weight: bold;
}